/* Estilos para el contenedor global */
.globalCont {
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 40px;
  font-family: Arial, sans-serif;
}

/* Estilos para el contenedor del juego */
.contGame {
  width: 80%;
  height: 80%; /* Cambiar el valor de altura según tus necesidades */
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  padding: 3%;
  margin-top: 2%;
}

/* Estilos para el contenedor de toda la información */
.contAllInfo {
  position: relative;
  z-index: 1;
}

/* Estilos para la información del juego */
.detailGame {
  font-size: 15px;
  color: #333;
}

.detailGame p {
  font-weight: bold;
  color: #000000;
  font-family: monospace;
  margin: 5px 0;
}

/* Estilos para el texto de carga */
h2 {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: #333;
}

/* Media query para ajustar la fuente en pantallas pequeñas */
@media screen and (max-width: 768px) {
  .globalCont {
    padding: 20px;
  }

  .contGame {
    width: 95%;
    height: 95%;
    border-radius: 30px;
    padding: 2%;
    margin-top: 2%;
  }

  .detailGame {
    font-size: 12px;
  }
}
