/* Estilos para el contenedor de los filtros */
.contFilters {
  display: flex;
  flex-wrap: wrap; /* Para que los elementos se envuelvan en varias líneas en dispositivos pequeños */
  justify-content: center; /* Centrar los elementos horizontalmente */
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.contFilters p {
  font-size: 12px;
  font-weight: bold;
  margin: 4px;
  color: #791094;
}

.contFilters label {
  color: #791094;
  font-weight: bold;
  font-size: 14px;
}

.contFilters select {
  flex: 1; /* Ocupar todo el ancho posible */
  margin: 5px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 12px;
}

.contFilters button {
  font-size: 12px;
  font-weight: bold;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #791094;
  color: #ffffff;
}

.contInfoFilters {
  color: #ddd;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 2px;
  padding: 2px;
  list-style: none;
}

.closeFilter {
  padding: 2px;
  display: flex;
  align-items: center;
  margin: 1px;
  background-color: #bdb3b3be;
  color: #fff;
  border-radius: 5px;
  transition: all 0.2s ease;

  &:active,
  &:hover {
    transform: scale(0.95);
  }
}

.delButton {
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-right: 2px;
}

.delButton:hover {
  color: #ff0000;
}

.contInfoFilters li {
  font-size: 12px;
  font-weight: bold;
  margin: 4px;
  color: #463f4796;
}

/* Media query para ajustar el tamaño de los filtros en dispositivos móviles */
@media (max-width: 768px) {
  .contFilters p {
    display: none; /* Ocultar el texto para ahorrar espacio */
  }

  .contFilters select {
    flex: 100%; /* Ocupar todo el ancho disponible */
  }

  .contFilters button {
    flex: 100%; /* Ocupar todo el ancho disponible */
  }
}
