.globalCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contForm {
  background-color: #f8f8f838;
  width: 400px;
  padding: 20px;

  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: #f7f3f4;
  text-align: center;
  margin-bottom: 20px;
}

.formData label {
  color: rgb(179, 97, 117);
  display: block;
  margin-bottom: 5px;
}

.formData input,
.formData textarea,
.formData select {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.disabledButton {
  background-color: #ccc;
  color: #888;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: not-allowed;
}

.infoValidation {
  color: #110f0e;
  margin-top: 20px;
  padding: 20px;
  background-color: #f8f8f838;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.titleInfo {
  margin-bottom: 20px;
}

.uList {
  list-style: none;
  padding: 0;
}

.uList li {
  margin-bottom: 5px;
  font-size: 14px;
}

.errorName {
  color: rgb(230, 222, 116);
}

.validName {
  color: rgb(241, 235, 235);
}

.errorImg {
  color: rgb(230, 222, 116);
}

.validImg {
  color: rgb(241, 235, 235);
}

.errorDes {
  color: rgb(230, 222, 116);
}

.validDes {
  color: rgb(241, 235, 235);
}

.errorRel {
  color: rgb(230, 222, 116);
}

.validRel {
  color: rgb(241, 235, 235);
}

.errorRat {
  color: rgb(230, 222, 116);
}

.validRat {
  color: rgb(241, 235, 235);
}

.errorGen {
  color: rgb(230, 222, 116);
}

.validGen {
  color: rgb(241, 235, 235);
}

.errorPlat {
  color: rgb(230, 222, 116);
}

.validPlat {
  color: rgb(241, 235, 235);
}
