.contBarra {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: none;
  border: none;
}

.contOptions {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.contOptions a {
  font-weight: bolder;
  text-decoration: none;
  font-size: 18px;
  color: #ceaaaa;
  transition: color 0.2s ease;
}

.contOptions a:hover {
  text-decoration: none;
  color: #801642;
  transform: scale(1.05);
}
.imgsCont {
  width: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.imgs {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}
